<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <title>Hello, world!</title>
</head>

<body>
  <% if (message.includes("failure")) { %>
    <div class="alert alert-danger" role="alert">
      There was some error posting! Try again.
    </div>
  <% } else if(message.includes("success")) { %>
    <div class="alert alert-success" role="alert">
      Post Uploaded Successfully!
    </div>
  <% } else { %>
    <%=message%>
  <% } %>



          <div class="containercp">
            <div class="cardcp">
              <div class="profile-picture">
                <img src="https://i.pinimg.com/280x280_RS/fe/7d/ee/fe7deef834e1fafe56f8023ced803ca9.jpg"
                  alt="Profile Picture">
              </div>
              <h2 class="name">
                <%= user.fullname %>
              </h2>
              <h3 class="username">@<%= user.username%>
              </h3>
              <p class="tagline">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, dolor earum?</p>
              <a href="/logout" class="button">Logout</a>

              <div class="upload">
                <form action="/upload" method="post" enctype="multipart/form-data">
                  <input type="text" name="filecaption">
                  <input type="file" name="file">
                  <button type="submit">Submit</button>
                </form>
              </div>

            </div>
            <div class="cardsboard">

              <% user.posts.forEach(function(post){%>
              

                <div class="card card-sep" style="width: 18rem;">
                  <img src="/images/uploads/<%=post.image%>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%=post.postText%></h5>
  
                  </div>
                </div>
              <%})%>
            </div>
          </div>





          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>